body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.block {
    background: url("image/404_error.webp") no-repeat center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.block_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    border: 1.5px solid #fff;
    width: 500px;
    height: 500px;
}


.text_num {
    font-size: 100px;
    font-weight: bold;
    color: #e07604;
    font-family: "Book Antiqua", sans-serif;
}

.text_p {
    color: #fff;
    margin: 30px 0 50px;
    font-size: 20px;
}


.btn_back {
    background-color: #8983ff;
    width: 160px;
    height: 60px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    color: #ffd;
    cursor: pointer;
    font-family: "Lucida Sans Unicode", sans-serif;
}
